In [1]:
import pandas as pd
import re
import numpy as np

c:\Users\jtsanchez\Anaconda3\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
c:\Users\jtsanchez\Anaconda3\lib\site-packages\numpy\.libs\libopenblas.WCDJNK7YVMPZQ2ME2ZZHJJRJ3JIKNDB7.gfortran-win_amd64.dll
c:\Users\jtsanchez\Anaconda3\lib\site-packages\numpy\.libs\libopenblas64__v0.3.21-gcc_10_3_0.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

### Prepare the Nodes df

In [10]:
nodes=pd.read_csv('01 nodes.csv')
nodes

               Source            Target
0               Ormoc         Babatngon
1           Babatngon      Sta Rita Tap
2           Babatngon           Paranas
3        Sta Rita Tap         Sta. Rita
4        Sta Rita Tap           Paranas
..                ...               ...
105            Dingle  Sta. Barbara S/S
106          Panit-an             Nabas
107  Sta. Barbara S/S          San Jose
108  Sta. Barbara S/S          Iloilo 1
109  Sta. Barbara S/S        Buenavista

[110 rows x 2 columns]

In [13]:
#to lower case

nodes['Source']=nodes['Source'].str.lower()
nodes['Target']=nodes['Target'].str.lower()

nodes

               Source            Target
0               ormoc         babatngon
1           babatngon      sta rita tap
2           babatngon           paranas
3        sta rita tap         sta. rita
4        sta rita tap           paranas
..                ...               ...
105            dingle  sta. barbara s/s
106          panit-an             nabas
107  sta. barbara s/s          san jose
108  sta. barbara s/s          iloilo 1
109  sta. barbara s/s        buenavista

[110 rows x 2 columns]

### Process the Visayas line outages df

In [15]:
vis_line_outages=pd.read_excel('02 visayas line outages.xlsx')
vis_line_outages

,TIME_MESSAGE,MESSAGE,REGION,MESSAGE TYPE,CATEGORY
0,2023-06-14 4:53:32 PM,Visayas Grid-06/14/2023 16:53: 138KV Ormoc -Ma...,CVIS,outage,line
1,2023-06-13 5:55:46 AM,Visayas Grid-06/13/2023 05:55: 138 kV Magdugo ...,CVIS,outage,line
2,2023-06-12 4:37:22 PM,[NSO Update] Visayas Grid-06/12/2023 16:37: Or...,CVIS,outage,line
3,2023-06-11 12:38:07 PM,Visayas Grid-06/11/2023 12:38: 138 KV Dumanjug...,CVIS,outage,line
4,2023-06-11 8:43:10 AM,Visayas Grid-06/11/2023 08:41: 34.5 KV Toledo-...,CVIS,outage,line
...,...,...,...,...,...
509,2021-12-11 7:20:00 PM,"PANAY ACC-12/11/21 19:11: SAN JOSE SS, San Jos...",CVIS,outage,line
510,2021-12-11 7:18:00 PM,"PANAY ACC-12/11/21 19:11: NABAS SS, Avon-Catic...",CVIS,outage,line
511,2021-12-11 7:18:00 PM,"PANAY ACC-12/11/21 19:11: NABAS SS, Caticlan-M...",CVIS,outage,line
512,2021-12-11 7:18:00 PM,"PANAY ACC-12/11/21 19:11: NABAS SS, Nabas Sapi...",CVIS,outage,line
513,2021-12-11 1:24:00 PM,VRCC-12/11/2021 09:21: 34.5 KV CARCON - Sangi...,CVIS,outage,line

In [16]:
def preprocess_function(text):

    # Convert text to lowercase
    if text is not None and isinstance(text, str):
        text = text.lower()
    
    # retain text after second colon only
    split_text = text.split(':', 2)  # Split the text at the second colon
    if len(split_text) > 2:
        cleaned_text = split_text[2].strip()  # Get the text after the second colon and remove leading/trailing whitespace
    else:
        cleaned_text = text  # If there are less than two colons, keep the original text

    return cleaned_text

# apply preprocessing function
vis_line_outages['processed_message'] = vis_line_outages['MESSAGE'].apply(preprocess_function)
vis_line_outages

,TIME_MESSAGE,MESSAGE,REGION,MESSAGE TYPE,CATEGORY,processed_message
0,2023-06-14 4:53:32 PM,Visayas Grid-06/14/2023 16:53: 138KV Ormoc -Ma...,CVIS,outage,line,138kv ormoc -maasin line 1 & 2 tripped at 1635...
1,2023-06-13 5:55:46 AM,Visayas Grid-06/13/2023 05:55: 138 kV Magdugo ...,CVIS,outage,line,138 kv magdugo - daanlungsod line de-energized...
2,2023-06-12 4:37:22 PM,[NSO Update] Visayas Grid-06/12/2023 16:37: Or...,CVIS,outage,line,ormoc cs - naga cs 350kv hvdc (visayas-luzon) ...
3,2023-06-11 12:38:07 PM,Visayas Grid-06/11/2023 12:38: 138 KV Dumanjug...,CVIS,outage,line,138 kv dumanjug-samboan line 2 energized at 12...
4,2023-06-11 8:43:10 AM,Visayas Grid-06/11/2023 08:41: 34.5 KV Toledo-...,CVIS,outage,line,34.5 kv toledo-carcon line 2 de-energized at 0...
...,...,...,...,...,...,...
509,2021-12-11 7:20:00 PM,"PANAY ACC-12/11/21 19:11: SAN JOSE SS, San Jos...",CVIS,outage,line,"san jose ss, san jose - bugasong - suweco 69 k..."
510,2021-12-11 7:18:00 PM,"PANAY ACC-12/11/21 19:11: NABAS SS, Avon-Catic...",CVIS,outage,line,"nabas ss, avon-caticlan 69 kv l (co) (5li1gbp-..."
511,2021-12-11 7:18:00 PM,"PANAY ACC-12/11/21 19:11: NABAS SS, Caticlan-M...",CVIS,outage,line,"nabas ss, caticlan-malay 69kv l (5li1ctc-mla),..."
512,2021-12-11 7:18:00 PM,"PANAY ACC-12/11/21 19:11: NABAS SS, Nabas Sapi...",CVIS,outage,line,"nabas ss, nabas sapian 69 kv line (5li1nbs-spn..."
513,2021-12-11 1:24:00 PM,VRCC-12/11/2021 09:21: 34.5 KV CARCON - Sangi...,CVIS,outage,line,34.5 kv carcon - sangi line 2 de-energized at...

In [17]:
# using "nodes" df, loop per source then per corresponding target

for message in vis_line_outages['processed_message']:
    for source_node in nodes['Source']:
        if source_node in message:
            target_list=nodes[nodes['Source']==source_node]['Target'].to_list()
            for target in target_list:
                if target in message:
                    tripped_nodes= "xxxxxxxxxxxxxx" #get this from dropdown

                    break

yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay

In [19]:
# try

nodes[nodes['Source']=='ormoc']
target_list=nodes[nodes['Source']=='ormoc']['Target'].to_list()

In [20]:
target_list

['babatngon', 'isabel', 'maasin', 'tongonan', 'kananga']

In [21]:
nodes[nodes['Source']=='ormoc']

   Source     Target
0   ormoc  babatngon
7   ormoc     isabel
8   ormoc     maasin
9   ormoc   tongonan
65  ormoc    kananga